[Unit]
Description=Data Gatherer
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/share/Tidepool/install/restart_datagatherer.sh
Restart=on-failure
RestartSec=5s
StartLimitInterval=500
StartLimitBurst=5

[Install]
WantedBy=multi-user.target