[Unit]
Description=Data Gatherer
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/usr/share/Tidepool/install/restart_datagatherer.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target