[Unit]
Description=Data Monitor
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/share/Tidepool/install/restart_datamonitor.sh

[Install]
WantedBy=multi-user.target